#!/bin/bash

#SBATCH --job-name={jobname}
#SBATCH --chdir={cwd}
#SBATCH --account=hpc-pipelines
#SBATCH --time=02:00:00
#SBATCH --ntasks=1
#SBATCH --output={out}
#SBATCH --error={err}
#SBATCH --partition=cpu_pipelines
#SBATCH --propagate

{cmd}

echo $? >> return.code

echo "Done!"

